{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock title %}</title>
  <script src="/static/lib/jquery/dist/jquery.min.js"></script>
  <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">

</head>
<body>
<div class="container">

  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{% block brand %}{% endblock brand%}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          {% block rightmenu %}{% endblock rightmenu%}
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>

  {% bootstrap_messages %}


  {% block content %}
  {% endblock content %}

</div> <!-- /container -->




</body>
</html>
